<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ECI0064.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ECI0064.Properties.Settings>
            <setting name="TextA1Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextA2Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextA3Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextB1Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextB2Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextB3Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextC1Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextC2Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextC3Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextD1Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextD2Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextD3Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextE1Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextE2Data" serializeAs="String">
                <value />
            </setting>
            <setting name="TextE3Data" serializeAs="String">
                <value />
            </setting>
            <setting name="JaData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JbData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JcData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JdData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="JeData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BmunAData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AmunAData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BmunBData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AmunBData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BmunCData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AmunCData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BmunDData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AmunDData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BmunEData" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AmunEData" serializeAs="String">
                <value>0</value>
            </setting>
        </ECI0064.Properties.Settings>
    </userSettings>
</configuration>